name: CI Quality Checks

on:
  push:
    branches: [main]

jobs:
  get_config_values:
    runs-on: ubuntu-22.04
    outputs:
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
      devcontainer_version: ${{ steps.load-config.outputs.DEVCONTAINER_VERSION }}
      devcontainer_image: ${{ steps.load-config.outputs.DEVCONTAINER_IMAGE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          DEVCONTAINER_IMAGE=$(jq -r '.build.args.IMAGE_NAME' .devcontainer/devcontainer.json)
          DEVCONTAINER_VERSION=$(jq -r '.build.args.IMAGE_VERSION' .devcontainer/devcontainer.json)
          {
            echo "TAG_FORMAT=$TAG_FORMAT" 
            echo "DEVCONTAINER_IMAGE=$DEVCONTAINER_IMAGE"
            echo "DEVCONTAINER_VERSION=$DEVCONTAINER_VERSION"
          } >> "$GITHUB_OUTPUT"

  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks-devcontainer.yml@d215f841eb18b803e339e4ed597ed1f30e086e17
    needs: [get_config_values]
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  tag_release:
    needs: [quality_checks, get_config_values]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release-devcontainer.yml@2a083514efbae0b9ddacfcc87b9d285767b686b8
    with:
      dry_run: true
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      branch_name: main
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
      verify_published_from_main_image: true
    secrets: inherit
