name: Release to NPM

on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 3"

jobs:
  get_config_values:
    uses: NHSDigital/eps-common-workflows/.github/workflows/get-repo-config.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815
    with:
      verify_published_from_main_image: true
  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks-devcontainer.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815
    needs: [get_config_values]
    with:
      pinned_image: ${{ needs.get_config_values.outputs.pinned_image }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  tag_release:
    needs: [quality_checks, get_config_values]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release-devcontainer.yml@8404cf6e3a61ac8de4d1644e175e288aa4965815
    permissions:
      contents: write # to be able to publish a GitHub release
      id-token: write # to enable use of OIDC for trusted publishing and npm provenance
    with:
      dry_run: false
      pinned_image: ${{ needs.get_config_values.outputs.pinned_image }}
      branch_name: main
      publish_packages: .
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
